<nav xmlns:th="http://www.thymeleaf.org"  class="nn-header"> 
 <img src="/images/banner.png" style="height: 100px;object-fit: cover;">
 <ul class="nav nn-lang">
  <li class="nav-item">
    <a class="nav-link" href="#">Tiếng Việt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">English</a>
  </li>
</ul>

<form class="nn-search" method="" action="/product/search" >
  <div class="input-group input-group-sm">
    <input name="keyword" type="text" class="form-control" placeholder="Keywords">
    <button class="btn btn-success" type="submit">Search</button>
  </div>
</form>
</nav>