<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout::dynamic(~{::view})}">
	<main th:fragment="view" th:object="${item}" >
		<div class="row nn-detail">
		<div class="col-5 text-center">
		<img th:src="@{|/images/items/*{image}|}">
		</div>
		<div class="col-7">
		 <ul>
		 	<li>
		 		<b>Product Id:</b>
		 		<i th:text="*{id}"></i>
		 	</li>
		 	<li>
		 		<b>Product Name:</b>
		 		<i th:text="*{name}"></i>
		 	</li>
		 	<li>
		 		<b>Unit Price:</b>
		 		<i th:text="*{unitPrice}"></i>
		 	</li>
		 	<li>
		 		<b>Discount:</b>
		 		<i th:text="*{discount}"></i>
		 	</li>
		 	<li>
		 		<b>Quantity:</b>
		 		<i th:text="*{quantity}"></i>
		 	</li>
		 	<li>
		 		<b>Product Date:</b>
		 		<i th:text="*{createDate}"></i>
		 	</li>
		 	<li>
		 		<b>Category:</b>
		 		<i th:text="*{category.nameVn}"></i>
		 	</li>
		 </ul>
		 </div>
		 </div>
		 <div class="row ">
		 	<div class="card">
		  	<div class="card-header">Hàng cùng loại</div>
		  	<div class="card-body nn-thumb">
		  		<th:block th:each="p: *{category.products}">
		  			<a th:href="@{|/product/detail/${p.id}|}">
		  				<img th:src="@{|/images/items/${p.image}|}">
		  			</a>
		  		</th:block>
		  	</div>
		  	
		</div>
		 </div>
	</main>
	
</html>