<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout::dynamic(~{::view})}">
	<main th:fragment="view">
		 <div class="row">
			<th:block th:each="p : ${page.content}">
				<div class="col-4">
                    <div class="card mb-3" >
                     <div class="card-header">
                            <h5 class=" d-flex justify-content-center nn-text" th:text="${p.name}"></h5>
                        </div>
                    	<div class="card-body text-center">
                    	  <a th:href="@{|/product/detail/${p.id}|}">
                        	<img class=" nn-item" th:src="@{|/images/items/${p.image}|}" alt="" title="">
                          </a>
                        </div>
                        <div class="card-footer" th:attr="data-id=${p.id}">
                         	<span class="card-title  d-flex justify-content-center" th:text="${p.unitPrice}"></span>
                         	<div class="d-flex">
                            <button  class="btn bt-sm btn-success flex-fill" href="#" role="button">
                        		<i class='bx bxs-cart-add'></i>
                         
                            </button>
                            <button  class="btn bt-sm btn-info flex-fill nn-like" role="button">
                            	<i class='bx bxs-like' ></i>
                            </button>
                            <button  class="btn bt-sm btn-warning flex-fill nn-share" href="#" role="button" data-bs-toggle="modal" data-bs-target="#share-dialog">
                               <i class='bx bxs-share'></i>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
			</th:block>
			
			<div th:with="p=${page.number}, t=${page.totalPages}, kw=${param.keyword}" >
					<div class="d-flex justify-content-center">
						<span th:text="${p+1}" class="me-1"></span>
						  of
						<span th:text="${t}" class="me-1 ms-1"></span>
						 pages
					</div>
				<div class="card-body d-flex justify-content-center">
					<a th:href="@{|?p=0&keyword=${kw}|}" class="btn bt-sm btn-danger me-1">First</a>
					<a th:unless="${page.first}" th:href="@{|?p=${p-1}&keyword=${kw}|}" class="btn bt-sm btn-danger me-1">Prev</a>
					<a th:unless="${page.last}" th:href="@{|?p=${p+1}&keyword=${kw}|}" class="btn bt-sm btn-danger me-1">Next</a>
					<a th:href="@{|?p=${t-1}&keyword=${kw}|}" class="btn bt-sm btn-danger">Last</a>
				</div>
					
			</div>
			
		</div>
		<div th:replace="/share-dialog/share-dialog"></div>
	</main>
</html>